{% extends 'neighbour/base.html'%}

{% block title%}My Profile{% endblock%}
{% block content%}



<!-- PROFILE MODAL -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Profile Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="ui form" action="" id="formOne" enctype="multipart/form-data" method="POST">
          {% csrf_token %}

          {{form.as_p}}
          <button type="submit"  class="ui positive  button">Update</button>

      </form>   
       </div>

    </div>
  </div>
</div>

<!-- CONTENT -->
<div class="container" id="profile">

<div class="ui grid">
<div class="row">
<div class="eight wide  column">
<div class="ui raised segment">

  <h3>My Profile:</h3>
  <div class="ui grid">
  <div class="row">
    <div class="six wide column">
        {% if profile.image.url %}
        <img src="{{profile.image.url}}" alt="" class="ui medium circular image">

          {%else%}
        <img  class="ui medium circular image"  src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" alt="My profile picture">
        {% endif %}   


      <div class="mt-5">
        <button class="ui inverted  green button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Update your profile</button>
      </div>

    </div>
    <div class="ten wide column">
      <table class="ui table">
        <tbody>
          <tr>
            <td>username:</td>
            <td>{{profile.username}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{profile.email}}</td>

          </tr>
          <tr>
            <td>Identity number:</td>
            <td>{{profile.identity}}</td>
          </tr>
         
        </tbody>
      </table>

      </div>

  </div>
  </div>

</div>
</div>

<div class="eight wide  column">
  <div class="ui raised segment">

    <table class="ui table">
      <tbody>
        <tr>
          <td>Location:</td>
          <td>{{profile.location}}</td>
        </tr>
        <tr>
          <td>Hood:</td>
          <td>{{profile.hood}}</td>
        </tr>
        <tr>
          <td>Number of Occupants:</td>
          <td>{{profile.occupants}}</td>
        </tr>
       
      </tbody>
    </table>
  </div>
  </div>
</div>
</div>
</div>

{% endblock%}