{%extends 'neighbour/base.html'%}
{% block content %}
<div class="text-center mb-3" style="margin-top: 100px;">
    <h3>Update your Location {{profile.username}}</h3>

</div>
<div class="container d-flex justify-content-center" >

<!-- FORM -->


<div class="ui raised segment" style="width: 500px;">

  
    <form  method="POST" class="ui form">
      {% csrf_token %}

      {{n_form.as_p}}

      <div class="ui ">
         <button type="submit" class="ui button positive">Update</button>
  
      </div>
  
  </form>
</div>
</div>

    {%endblock%}