{% extends 'neighbour/base.html'%}

{% block title%}HOME{% endblock%}
{% block content%}
   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Mtaa yetu shughuli zetu...</h1>
      <h2>Where it all begins...</h2>
      <a href="{% url 'homepage' %}" class="btn-get-started scrollto">See recent updates</a>
    </div>
  </section>
  
  <!-- End Hero -->

{% endblock%}