{% extends 'neighbour/base.html'%}

{% block title%}HOME{% endblock%}
{% block content%}
   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Where it all begins...</h1>
      <h2>We all have a story.Lets share it ...</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>
  
  <!-- End Hero -->

{% endblock%}