{%extends 'neighbour/base.html'%}
{% block content %}
{{block.super}}

<div class="container">

 <div class="ui grid" style="padding-top: 100px;">
        <div class="row ui raised segment">
<div class="d-flex justify-content-around mb-5" >
    <div style="width: 40%;">
        <h2> TWIGA POLICE STATION</h2>
        <img class="img-fluid ui large image"  src="../../../static/img/kayolepolice.jpeg">

    </div>
    <div style="width: 50%;" >
        <h2>DETAILS</h2>
         <h4> contacts: 0718849600</h4>
         <h4> email: twigastation.co.ke</h4>
         <h4> <u> About Twiga police station</u></h4>


        <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
         <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
    
    </div>
    

  </div>


  <div class="d-flex justify-content-around" >
   
    <div style="width: 50%;" >
        <h2>DETAILS</h2>
        <h4> contacts: 0718849600</h4>
        <h4> email: mamalucyhospital.co.ke</h4>
        <h4> <u> About mama lucy hospital </u></h4>


        <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
         <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
    
    </div>
    <div style="width: 40%;">
        <h2>MAMA LUCY HOSPITAL</h2>
        <img class="img-fluid"  src="../../../static/img/mama-lucy-hospital.jpg">

    </div>
    

  </div>
  </div>
  </div>
</div>

{%endblock%}