{%extends "registration/base.html"%}
{% load bootstrap5 %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top: 100px;">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class=" ui raised segment pt-4">

        <div class="card-body">
          <p>Not a member yet? <a style="color: #009970;text-decoration: none;" href="/accounts/register"> <strong> Register now</strong></a></p>
          <h6>Sign in to continue</h6>

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="checkbox" name="" id="">
            <label for="vehicle1"> Keep me logged in</label>
            <div class="form-group pt-3 d-grid gap-2">
              <input type="submit" style="background: #009970;" class="btn  btn-sm p-3 text-white" value="LOGIN NOW">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <h6 class="text-center pt-2"> <a style="color: #009970;text-decoration: none;" href="#">Forgot your password</a></h6>


        </div>

      </div>


    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}